.theme--light .text--warma-dark {
  color: #523232!important
}

.theme--light .color--warma-dark {
  background: #523232!important
}

.theme--light .border--warma-dark {
  border-color: #523232!important
}

.bold-border {
  border: 3px solid !important;
}
